<mat-toolbar>Signos Vitales</mat-toolbar>

  <router-outlet></router-outlet>

    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar signos">
      </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="idSignos">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.idSignos}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="paciente">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Paciente </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.paciente.nombres}} {{row.paciente.apellidos}}</mat-cell>
      </ng-container>

      

      <ng-container matColumnDef="temperatura">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.temperatura}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pulso">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Pulso </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.pulso}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="ritmo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ritmo </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.ritmo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-button color="primary" [routerLink]="['edicion', row.idSignos]">Actualizar</button>
          <button mat-button color="accent" (click)="eliminarSigno(row.idSignos)">Eliminar</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">

      </mat-row>
    </mat-table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarOtrapagina($event)"></mat-paginator>

<br>

<button mat-fab color="accent" style="float: right" routerLink='/signo/nuevo'>
  <mat-icon>create</mat-icon>
</button>