<div>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon>account_box</mat-icon>
            </div>
            <mat-card-title>Perfil</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-divider></mat-divider>
            <br />
            Usuario: {{usuario}}
            <br />
            Roles: {{roles.toString()}}
            <br />
        </mat-card-content>
        <mat-card-actions>
            <mat-divider></mat-divider>

            <button mat-button color="accent" (click)="cerrar()">Cerrar
                <mat-icon>clear</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

</div>