<mat-toolbar>Ingrese Signos vitales del paciente</mat-toolbar>

<form class="example-container" [formGroup]="form" (ngSubmit)="guardar()" #signoForm="ngForm">

  <mat-form-field>
    <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente" [formControl]="myControlPaciente"
      formControlName="paciente">
    <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="displayFnPaciente" (optionSelected)="seleccionarPaciente($event)">
      <mat-option *ngFor="let p of filteredOptionsPaciente | async" [value]="p">
        {{ p.nombres }} {{p.apellidos}}
      </mat-option>
    </mat-autocomplete>
    <button matSuffix mat-raised-button color="accent" type="button" (click)="openDialog()"> Nuevo Paciente</button> 
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="fecha" formControlName="fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <input matInput placeholder="Temperatura" required formControlName="temperatura" type="number" step="0.01">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Pulso" required formControlName="pulso">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Ritmo Respiratorio" required formControlName="ritmo">
  </mat-form-field>

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="signoForm.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/signo' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>