<div class="container">
  <mat-form-field>
    <input matInput placeholder="Nombres" [(ngModel)]="paciente.nombres" maxlength="70">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Apellidos" [(ngModel)]="paciente.apellidos" maxlength="70">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="DNI" [(ngModel)]="paciente.dni" type="number" minlength="8" maxlength="8">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Dirección" [(ngModel)]="paciente.direccion" maxlength="150">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Teléfono" [(ngModel)]="paciente.telefono" minlength="9" maxlength="9">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" [(ngModel)]="paciente.email">
  </mat-form-field>
</div>
  <button mat-raised-button color="primary" (click)="guardar()">Aceptar</button>
  <button mat-raised-button color="accent" (click)="cerrar()" type="button" >Cancelar</button>

